.auth-forms {
  display: flex;

  .patika-info {
    background: #dadada;
    flex: 1;
    padding: 56px;

    h1 {
      margin-top: 45px;
      margin-bottom: 30px;
    }

    .icons {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      svg:nth-child(2) {
        padding-right: 30px;
      }
    }
  }

  .register {
    flex: 1;
    padding: 56px;
    position: relative;

    .title {
      margin-bottom: 80px;
    }

    .row {
      display: flex;
      justify-content: space-between;
      gap: 30px;

      .form-group {
        flex: 1;
      }
    }

    button {
      background: #444aff;
      width: 100%;
      color: #fff;
      border-radius: 4px;
      padding: 19px;
      margin-top: 20px;
      border: none;
      font-weight: 700;
      cursor: pointer;
    }

    .form-error {
      height: 20px;
      color: red;
      line-height: 20px;
    }

    .modes {
      position: absolute;
      cursor: pointer;
      right: 30px;
      top: 30px;
    }
  }
}

.auth-forms.dark {
  .patika-info {
    background: #999;

    h1,
    p {
      color: #fff;
    }
  }

  .register {
    background: #2c2c2c;

    h2,
    label {
      color: #fff;
    }

    input{
      background: transparent;
    }

    button {
      background: #ffbf5e;
    }
  }
}
